<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/css/html5reset.css' media='all' />
	<link rel="stylesheet" href="/css/responsivegridsystem.css" media="all">
	<link rel='stylesheet' href='/css/style.css' media='screen' />
	<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="/css/1024.css">
	<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="/css/768.css">
	<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/css/480.css">
</head>
<body> 
	<!--
	<h1><%= title %></h1>
-->
	<p>Welcome to <%= title %></p> 
	<div class="container" id="GAME"></div>
	<script type="text/template" id="tmpl_cell">
		<canvas width="30" height="30" />
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>