<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/css/html5reset.css' media='all' />
	<link rel="stylesheet" href="/css/responsivegridsystem.css" media="all">
	<link rel='stylesheet' href='/css/style.css' media='screen' />
	<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="/css/1024.css">
	<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="/css/768.css">
	<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/css/480.css">
</head>
<body>
	<h2 id="title"><%= title %></h2>
	<div id="help">
		<ul type="circle">
			<li>The App is based on the idea discussed 
			<a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/" target="_blank">here</a>.
			</li><li>
			Read through the article to understand the rules of the game.
			</li><li>
			This is a two player game. Invite an opponent by sharing the URL.
			</li>
		</ul>
	</div>
	<div class="info">
		<h3>Player <span id='player'></span></h3>
		<h4 id="who"></h4>
	</div>

	<div class="winner" id="iwon"></div>
	<div class="winner" id="uwon"></div>
	<div class="winner" id="draw"></div>
	<div class="clearer"></div>
	<div class="container" id="GAME"></div>
	<div class="clearer"></div>
	<script type="text/template" id="tmpl_quark">
		<canvas width="30" height="30" />
	</script>
	<script>
		var SessionID="<%= sid %>";
	</script>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.color.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>