/*CSS document*/

body {
	max-width: 1024px;
}
.clearer {
	clear:both;
}
.container {
	width: 360px;
	height: 360px;
	margin: 20px auto;
	border: solid 1px #ddd;
}
.info {
	width: 400px;
	margin: auto;
	background: #397abd;
	color: white;
}
.info h3 {
	color: white;
}
#statusbar {
	text-align: center;
	width: 360px;
	margin: auto;
}
.Tquark{
	display: block;
	width: 30px;
	height: 30px;
	border: solid 1px transparent;
	padding: 4px;
	float: left;
}
.Tquark:hover { cursor: pointer; }

.Thadron {
	width: 120px;
	float: left;
}

.Trow {
	clear:both;
}
