/*CSS document*/

body {
	max-width: 1024px;
}
.clearer {
	clear:both;
}
.container {
	width: 360px;
	height: 360px;
	margin: 20px auto;
	border: solid 5px #AAA;
	border-radius: 3px;
}
h1 {
	font-size: 50px;
}
#statusbar {
	background: #eee;
	font-family: Verdana;
	text-align: center;
	width: 360px;
	margin: auto;
}
.Tquark{
	display: block;
	width: 30px;
	height: 30px;
	border: solid 1px white;
	padding: 4px;
	float: left;
	background: #eee;
}
.Tquark:hover { cursor: pointer; }

.Thadron {
	width: 120px;
	float: left;
}

/*.Trow div:nth-child(3), .Trow div:nth-child(6) { border-right:solid 1px black; }
.Trow div:nth-child(4), .Trow div:nth-child(7) { border-left:solid 1px black; }
/*.container div.Trow:nth-child(3), .container div.Trow:nth-child(6) { border-bottom: solid 1px black; }
.container div.Trow:nth-child(4), .container div.Trow:nth-child(7) { border-top: solid 1px black; } */

.Trow {
	clear:both;
}
