/*CSS document*/

body {
	max-width: 1024px;
}
.clearer {
	clear:both;
}
.container, .winner {
	width: 330px;
	height: 330px;
	margin: 20px auto;
	border: solid 2px #ddd;
}
.Tquark{
	display: block;
	width: 32px;
	height: 32px;
	border: solid 1px #ddd;
	float: left;
	line-height: 32px;
	font-size: 32px;
}
.Tquark:hover { 
	cursor: pointer; 
	background: #3c7ebd;
}
.Thadron {
	width: 102px;
	border: solid 2px transparent;
	margin: 2px;
	float: left;
}

.Trow {
	clear:both;
}
#loadinggif {
	width: 330px;
	height: 330px;
	position: absolute;
	background: #FFF url(../img/ajax-loader.gif) center center no-repeat;
	opacity: 0.8;
}
#title {
	cursor: pointer;
}
#help {
	overflow: hidden;
	width: 480px;
	margin: auto;
	height: 0px;
	background: #eee;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	margin-top: -10px;
	text-align: left;
}
#help ul {
	margin: 20px;
}
#iwon {
	display: none;
	background: #5f5;
}
#uwon {
	display: none;
	background: #f55;
}
#draw {
	display: none;
	background: #55f;
}
.info {
	width: 400px;
	margin: auto;
	background: #397abd;
	color: white;
}
.info h3 {
	color: white;
}
#statusbar {
	text-align: center;
	width: 360px;
	margin: auto;
}